.carouselBox {
    width: 840px;
    height: 268px;
}

.carousel {
    width: 700px;
    height: 268px;
}

.thumbnailsBox {
    width: 140px;
    height: 268px;
}

.thumbnailsBox .col-auto {
    height: calc(100% / 5);
    background-color: brown;
    border: 1px solid white;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.thumbnailsBox img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

button {
    z-index: 999;
}

.next {
    right: 140px;
    top: 50%;
}

.previous {
    left: 0;
    top: 50%;
}

.active {
    display: block!important;
}


